@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #8daae5;
  font-family: arial, sans-serif;
  color: white;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 2rem;
  background-color: white;
  -webkit-box-shadow: 0 0 4p 0 #000;
          box-shadow: 0 0 4p 0 #000;
}

.logo {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.logo__image {
  display: block;
  width: 100%;
}

.search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 799px) {
  .search {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.search__input {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 50%;
  max-height: 60px;
  min-height: 50px;
  margin-right: 2vh;
  padding: 0 10px;
  font-size: 1.4rem;
}

.search__input:focus {
  -webkit-box-shadow: 0 0 2px 1px #8daae5;
          box-shadow: 0 0 2px 1px #8daae5;
  font-weight: bold;
}

.search__btn {
  height: 50%;
  max-height: 60px;
  min-height: 50px;
  font-size: 1.4rem;
  padding: 0 10px;
  border: 2px solid black;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search__btnhove {
  background-color: black;
  color: #fff;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 799px) {
  .settings {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.settings__icon-link {
  margin: 0 10px;
  font-size: 3rem;
  color: #666;
}

.settings__icon-link:hover {
  color: black;
}

.menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  margin-top: 10px;
  background-color: #1a1a36;
  font-family: "pt sans", "roboto", arial, sans-serif;
  padding: 15px 50px 15px 80px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__item {
  margin: 0 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 4rem;
}

.menu__item:hover {
  border-bottom: 2px yellow solid;
}

.menu__item:nth-last-child(1) {
  margin-left: auto;
  border: 2px solid #666;
}

.menu__item:nth-last-child(1):hover {
  border-color: yellow;
}

.menu__item:nth-last-child(1) .menu__link {
  padding: 0 22px;
}

.menu__link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.article {
  padding: 30px 50px;
  color: #333;
  text-align: center;
}

.article--small {
  padding: 20px 30px;
}

.article__image {
  display: block;
  width: 100%;
}

.article__title {
  font-family: "pt sans", "roboto", arial, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 35px 0 15px;
}

.article--small .article__title {
  padding: 25px 0 10px;
  font-size: 1.8rem;
  background-color: #8daae5;
}

.article__introduction {
  line-height: 1.6;
  font-size: 1.6rem;
}

.article__btn {
  display: block;
  margin: 10px auto;
  width: 50%;
  min-width: 200px;
  font-size: 1.8rem;
  border: 2px oslid black;
  padding: 6px 12px;
  background-color: #8daae5;
  margin: 10px 0;
  color: black;
  text-decoration: none;
}

.article__btn:hover {
  background-color: white;
}

.main-articles {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #8daae5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-articles__intro {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px 0;
  background-color: #290303;
  text-align: center;
  margin: 60px 0 30px;
  font-size: 40px;
}

.main-articles .article {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 799px) {
  .main-articles .article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.article-list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.article-list__article {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 1023px) {
  .article-list__article {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (max-width: 799px) {
  .article-list__article {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
}

.footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #8daae5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 0;
}

.footer .sm-links {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.sm-links {
  font-family: "pt sans", "roboto", arial, sans-serif;
  padding: 20px;
}

.sm-links--darken {
  background-color: #2d5fc5;
}

.sm-links__title {
  margin: 20px 0 40px;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 400;
}

.sm-links__item {
  text-indent: 40px;
  font-size: 1.8rem;
}
/*# sourceMappingURL=main.css.map */