@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


$main-color: #8daae5;

$default-font: arial, sans-serif;
$special-font: 'pt sans', 'roboto', arial, sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html {
    font-size: 10px;
    background-color: $main-color;
    font-family: $default-font;
    color: white;
}


.wrapper{
    //kontener
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    //pozycja i wielkość
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;

    // wygląd
    font-size: 2rem;
    background-color: white;
    box-shadow: 0 0 4p 0 #000;
}

.logo{
    flex-basis: 200px;
    &__image{
        display: block;
        width: 100%;
    }
   
}

.search {
    //element elastyczny 
    flex-grow: 1;

    //kontenrer flexbox
    display: flex;
    align-items: center;
    justify-content: center;


    @media(max-width: 799px){
        flex-basis: 100%;
        order: -1; //kolejnośc elementu w stosunku do innych elementów we flexie. Im niższy tym wyższa pozycja.
    }



    &__input{
        flex-basis: 60%;
        height: 50%;
        max-height: 60px;
        min-height: 50px;
        margin-right: 2vh;
        padding: 0 10px;
        font-size: 1.4rem;
        &:focus{
            box-shadow: 0 0 2px 1px $main-color;
            font-weight: bold;
        }
    }
    &__btn {
        height: 50%;
        max-height: 60px;
        min-height: 50px;
        font-size: 1.4rem;
        padding: 0 10px;
        border: 2px solid black;
        background-color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.4s;
        &hove{
            background-color: black;
            color: #fff;

        }
    }
}

.settings{
display: flex;
padding: 0 30px 0 50px;
align-items: center;
@media (max-width: 799px){
    flex-grow: 1;
    justify-content: flex-end;
}
&__icon-link{
    margin: 0 10px;
    font-size: 3rem;
    color: #666;
    &:hover{
        color: black;
    }
}
}

.menu{
    flex-basis: 100%;
    height: 70px;
    margin-top:10px; 
    background-color: rgb(26, 26, 54);
    font-family: $special-font;
    padding: 15px 50px 15px 80px;
    &__list{
        display: flex;
        list-style: none;
    }
    &__item{
        margin: 0 20px;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 4rem;
        &:hover{
            border-bottom: 2px yellow solid;
        }
        &:nth-last-child(1) { //dla ostatniego dziecka (1) - last liczy dzieci od tyłu. Wiec 1 = ostatnie, 2 = przedostatnie etc.
            margin-left: auto;
            border: 2px solid #666;
         
            &:hover{
                border-color: yellow;
            }
            .menu__link{
                padding: 0 22px;
            }
        }
    }
    &__link{

        display: block;
        color: #fff;
        text-decoration: none;
    }
}






.article{
    padding: 30px 50px;
    color: #333;
    text-align: center;
    &--small{
        padding: 20px 30px;
    }
    &__image{
        display: block;
        width: 100%;
    }










    &__title{
        font-family: $special-font;
        text-transform: uppercase;
        font-size: 3rem; 
        padding: 35px 0 15px;
        .article--small & {
            padding: 25px 0 10px;
            font-size: 1.8rem;
            background-color: $main-color;

        }
    }


    &__introduction{
        line-height: 1.6;
        font-size: 1.6rem;
    }

    &__btn{
        display: block;
        margin: 10px auto;
        width: 50%;
        min-width: 200px;
        font-size: 1.8rem;
        border: 2px oslid black;
        padding: 6px 12px;
        background-color: $main-color;
        margin: 10px 0;
        color: black;
        text-decoration: none;
        &:hover{
            background-color: white;
        }

    }

}


.main-articles { 
flex-basis: 100%;
background-color: $main-color;
display:flex;
flex-wrap:wrap;
&__intro{
    flex-basis:100%;
    padding: 10px 0;
    background-color: rgba($color: #290303, $alpha: 1.0);
    text-align: center;
    margin: 60px 0 30px;
    font-size: 40px;

}
.article{
    flex-basis: 50%;
    @media (max-width: 799px){
        flex-basis: 100%;
    }
}
}

.article-list{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__article{
        flex-basis: 30%;
        @media(max-width: 1023px){
            flex-basis: 45%;
        }

        @media(max-width: 799px){
            flex-basis: 95%;
        }
    }


}

.footer{
   
    flex-basis: 100%;
     background-color: $main-color;
     display: flex;
     justify-content: space-evenly;
     padding: 20px 0;

     .sm-links{
        flex-basis: 30%;
     }
}

.sm-links{
    font-family: $special-font;
    padding: 20px;
    &--darken{
        background-color: darken($main-color, 25%);   
    }
&__title{
    margin: 20px 0 40px;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 400;
 }
&__item{
     text-indent: 40px;
     font-size: 1.8rem; 
}


}